<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>

<body>
  <h2>Submit your trip</h2>
  <form action="/my-trips/new" method="post" enctype="multipart/form-data">
    <label for="destination">Destination</label>
    <input type="text" name="destination">
    <br>
    <label for="description">Description</label>
    <input type="text" name="description">
    <br>
    <label for="picture">Upload your picture</label>
    <input type="file" name="photo">
    <br>
    <button type="submit">Submit your trip!</button>
  </form>
</body>

</html>